</body>

<footer>
Contact:
<ul class="footer-list">
    <li>Email: <a class="u-email" href="mailto:sandhu.s.manveer@gmail.com ">sandhu.s.manveer@gmail.com </a></li>
    <li><a href="https://github.com/sandhu-manveer" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span class="username">sandhu-manveer</span></a></li>
    <li><a href="https://www.linkedin.com/in/manveer-sandhu-673b36b2" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg><span class="username">Manveer Sandhu</span></a></li>
</ul>
</footer>
</html>